#video-container {
  min-height: 330px;
}

/* XSM/S mobile devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 
  body {
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #generator-container {
    text-align: center;
  }
  
  body {
    width: 50vw;
    margin: 0 auto;
    background-color: #000000;
  }
}
